---
extends: theevent.j2
default_block: main
title: Schedule
description: Innofaire Schedule
---

{% set sessions = site.content.walk_resources_tagged_with_session()|sort(attribute='meta.start') %}
{% from "macros.j2" import render_schedule with context %}

<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">30th June 2019</a>
            </li>
        </ul>
        <div class="section-header">
            <h2>Innofaire Talk Schedule</h2>
        </div>
        <h3 class="sub-heading"></h3>

        <div class="tab-content row justify-content-center">
            {{ render_schedule(sessions, 'day-1', 'active') }}

        </div>

    </div>

</section>