{% macro render_schedule(sessions, id, class=None) %}


      <div role="tabpanel" class="col-lg-9 tab-pane fade show {{ class }}" id="{{ id }}">
        {% for session in sessions %}

        <div class="row schedule-item">
          <div class="col-md-2">
            {{ session.meta.start|format_datetime(format='%-I:%M %p') }} to <br/>
            {{ session.meta.end|format_datetime(format='%-I:%M %p') }}

          </div>
          <div class="col-md-10">
            <div style="float:left;height:100%">
            <div class="speaker">
              <img src="{{ media_url('theevent/img/speakers/0.jpg') }}" alt="Speaker">
            </div>
            </div>
            <div>
                <h4><a href="{{ content_url(session.url) }}">{{ session.meta.talk_title }}</a><span></span></h4>
                <p>{{ session.meta.speaker_name }}</p>
                <p><b>{{ session.meta.stage }}</b></p>
            </div>
          </div>
        </div>

        {% endfor %}

        </div>

{% endmacro %}