<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GeekSummit : Innofaire</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <meta property="og:title" content="InnoFaire" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="Annual Gathering of Tech Enthusiast, Innovators, Makers. 30th June 2019, Ideal Convention Center (IDCC), Shah Alam, Malaysia" />
    <meta property="og:url" content="http://innofaire.geeksummit.asia/2019/" />
    <meta property="og:image" content="http://innofaire.geeksummit.asia/media/oglogo.png" />
    <!-- Favicons -->
    <link href="{{ media_url('theevent/img/favicon.png') }}" rel="icon">
    <link href="{{ media_url('theevent/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ media_url('theevent/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{ media_url('theevent/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ media_url('theevent/lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ media_url('theevent/lib/venobox/venobox.css') }}" rel="stylesheet">
    <link href="{{ media_url('theevent/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ media_url('theevent/css/style.css') }}" rel="stylesheet">
    <link href="{{ media_url('theevent/css/custom.css') }}" rel="stylesheet">

    <!-- =======================================================
        Theme Name: TheEvent
        Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
        Author: BootstrapMade.com
        License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

    <!--==========================
        Header
    ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <!-- Uncomment below if you prefer to use a text logo -->
                <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
                <a href="/2019/#intro" class="scrollto"><img src="{{ media_url('theevent/img/logo.png') }}" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/2019/#intro">Home</a></li>
                    <li><a href="/2019/#about">About</a></li>
                    <li><a href="/2019/#competition">AI Battleground</a></li>
                    <li><a href="/2019/#speakers">Speakers</a></li>
                    <li><a href="/2019/#exhibitions">Maker Zone</a></li>
                    <li><a href="/2019/#schedule">Schedule</a></li>
                    <li><a href="/2019/#venue">Venue</a></li>
                    <!--
                    <li><a href="#hotels">Hotels</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    -->
                    <li><a href="/2019/#sponsors">Sponsors</a></li>
                    <!--
                    <li><a href="#contact">Contact</a></li>
                    -->
                    <li class="buy-tickets"><a href="https://geeksummit2019.peatix.com/">Buy Tickets</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->

    {% if resource.meta.show_countdown %}    
    <!--==========================
        Intro Section
    ============================-->
    <section id="intro">
        <div class="intro-container wow fadeIn">
            <h1 class="intro-header mb-4 pb-0">Annual Gathering of <span>Tech Enthusiast,</span> Innovators,<span>
                    Makers</span></h1>
            <p class="mb-4 pb-0">30th June 2019, Ideal Convention Center (IDCC), Shah Alam, Malaysia</p>
            <!--      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
                data-autoplay="true"></a>
            <a href="#about" class="about-btn scrollto">About The Event</a>-->

            <div class="cd100 container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="cd-wrap">
                            <span class="days">35</span>
                            <span class="cd-label">Days</span>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="cd-wrap">
                            <span class="hours">17</span>
                            <span class="cd-label">Hours</span>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="cd-wrap">
                            <span class="minutes">50</span>
                            <span class="cd-label">Minutes</span>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="cd-wrap">
                            <span class="seconds">39</span>
                            <span class="cd-label">Seconds</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <div id="above-main-padding"></div>
    {% endif %}
    <main id="main">
    {% block main %}
    {% endblock main %}
    </main>


    <!--==========================
        Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="{{ media_url('theevent/img/logo.png') }}" alt="TheEvenet">
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Family</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i> <a href="http://www.geeksummit.asia">GeekSummit</a></li>
                            <li><i class="fa fa-angle-right"></i> <a href="https://worldcosplaysummit.my/">World Cosplay Summit</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">

                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            <strong>Email:</strong> info@eightministry.com<br>
                        </p>

                        <div class="social-links">
                            <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>-->
                            <a href="https://www.facebook.com/geeksummit.asia" class="facebook"><i class="fa fa-facebook"></i></a>
                            <!-- <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>-->
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Eight Ministry</strong> 2019. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{ media_url('theevent/lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/easing/easing.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/superfish/hoverIntent.js') }}"></script>
    <script src="{{ media_url('theevent/lib/superfish/superfish.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/wow/wow.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/venobox/venobox.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/countdowntime/moment.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/countdowntime/moment-timezone.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/countdowntime/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ media_url('theevent/lib/countdowntime/countdowntime.js') }}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{{ media_url('theevent/contactform/contactform.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ media_url('theevent/js/main.js') }}"></script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136314155-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136314155-1');
</script>

</body>

</html>
