{% extends 'theevent.j2' %}

{% block main %}

<section id="speakers-details" class="wow fadeIn">
    <div class="container">
        <div class="section-header">
            <h2>{{ resource.meta.talk_title }}</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="img/{{ resource.meta.photo }}" alt="Speaker 1" class="img-fluid">
            </div>

            <div class="col-md-6">
                <div>
                    <b>Session Type: </b> {{ resource.meta.talk_type }}<br/>
                    <b>Summary: </b>
                    {% block talk_summary %}
                    {% endblock talk_summary %}
                </div>
                <div>
                    <b>Speaker:</b> {{ resource.meta.speaker_name }}<br/>
                    <b>Speaker Profile: </b>
                    {% block profile %}
                    {% endblock profile %}
                </div>
            </div>

        </div>
    </div>

</section>

{% endblock main %}