#above-main-padding {
    margin-top: 100px
}

.cd100 {
    font-size: 10pt;
}



.cd100 .cd-wrap {
    border: #999 3px solid;
    border-radius: 50%;
/*    float: left;*/
    height: 60px;
    width: 60px;
    padding: 10px 5px;
    margin: 10px auto;
    color: white;

}

@media (min-width: 768px) {
    .cd100 {
        max-width: 768px;
        font-size: 25pt;
    }

    .cd100 .cd-wrap {
    border: #999 5px solid;
        height: 150px;
        width: 150px;
        padding: 30px 5px;
        margin: 10px auto;
    }

}

.cd100 .cd-wrap span {
    display: block;
}

.cd100 .cd-wrap .cd-label {
    font-size: 50%;
}

.intro-header {
    max-width: 768px;
}

#competition, #exhibitions {
  padding: 60px 0 30px 0;
}

.action-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #008dc4;
  background: #008dc4;
}


.action-btn:hover, .action-btn:focus, .action-btn:active {
  background: #008dc4;
  color: #fff;
}

#header {
    background: #008dc4;
}

#header a {
    color: #fff;
}

#header .nav-menu > li > a:before {
    background-color: #f7892a;
}

.nav-menu li.buy-tickets a {
    background: #f7892a;
    font-weight: bold;
    border-color: #f7892a;
}

#intro h1 span {
    color: #f7892a;
}

.main-action-btn {
    background: #f7892a;
    border-color: #f7892a;
}

a.main-action-btn:hover {
    background: #f7892a;
    border-color: #f7892a;
}

#header.header-scrolled, #header.header-fixed {
    background: #2D3142;
}

.comingsoon-btn {
    border-color: #BFC0C0;
    color: #000;
    background: #BFC0C0;
}

.comingsoon-btn:hover {
    background: #BFC0C0;
    color: #000;
    border-color: #BFC0C0;
}
